/*IMPORT FONTS*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans);/*GENERAL*/

body {
background: url(img/p1.png);
font-size: 12px;
}
section {
width: 90%;
margin: auto;
}

/*TYPE*/
h1 {
font-family: 'Open Sans';
color: #1C1C1C;
font-size: 48px;
width: 50%;
padding-left: 3%;
float: left;
}

h6 {
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 1px;
    color: #A0A4A8;
    margin-bottom: 2%;
}


/* overriding Skeleton yo */
.container {
max-width: 100%;
}

.full {
    width: 100%;
}

.fade {
    opacity: 0;
}


@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.first-fade {   opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
 
    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
 
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
    -webkit-animation-delay: 0.7s;
-moz-animation-delay: 0.7s;
animation-delay: 0.7s;

  }

@media (min-width: 550px){
    .container {
            width: 100%;
}
    #work div {
width: 30%;
    }
}
/*THE SHOTS*/
/*
#work {
width: 100%;
margin: auto;
list-style: none;
clear: both;
}
*/

#work div {
margin-right:  3%;
display: inline-block;
margin-bottom: 2%;
}

/*IMAGE EFFECTS*/
#work img {
border: 1px solid #A0A4A8;
border-radius: 3px;
transition: all 0.5s;
-moz-transition: all 0.5s;
-webkit-transition: all 0.5s;
-o-transition: all 0.5s;
width:100%;
}

#work img:hover {
-webkit-filter: grayscale(100%);
}
