/*IMPORT FONTS*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans);/*GENERAL*/

body {
background: url(img/p1.png);
}
section {
width: 80%;
margin: auto;
}

/*TYPE*/
h1 {
font-family: 'Open Sans';
color: #1C1C1C;
font-size: 48px;
width: 50%;
padding-left: 3%;
float: left;
}

h2 {
font-family: 'Open Sans';
color: #1C1C1C;
font-size: 18px;
font-weight: normal;
}


/* overriding Skeleton yo */
.container {
max-width: 100%;
}

.full {
    width: 100%;
}

@media (min-width: 550px){
    .container {
            width: 100%;
}
}
/*THE SHOTS*/
#work {
width: 100%;
margin: auto;
list-style: none;
clear: both;
}

#work li {
width: 20%;
margin-right:  2%;
display: inline-block;
margin-bottom: 2%;
}

/*IMAGE EFFECTS*/
#work li img {
border: 5px solid white;
-webkit-filter: grayscale(50%);
border-radius: 5px;
transition: all 0.5s;
-moz-transition: all 0.5s;
-webkit-transition: all 0.5s;
-o-transition: all 0.5s;
}

#work li img:hover {
-webkit-filter:grayscale(0);
box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
