/*IMPORT FONTS*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans);/*GENERAL*/

body {
background: url(img/p1.png);
font-size: 12px;
}
section {
width: 90%;
margin: auto;
}

/*TYPE*/
h1 {
font-family: 'Open Sans';
color: #1C1C1C;
font-size: 48px;
width: 50%;
padding-left: 3%;
float: left;
}

h6 {
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 1px;
    color: #A0A4A8;
    margin-bottom: 2%;
}


/* overriding Skeleton yo */
.container {
max-width: 100%;
}

.full {
    width: 100%;
}

.fade {
    opacity: 0;
}

@media (min-width: 550px){
    .container {
            width: 100%;
}
    #work div {
width: 30%;
    }
}
/*THE SHOTS*/
/*
#work {
width: 100%;
margin: auto;
list-style: none;
clear: both;
}
*/

#work div {
margin-right:  3%;
display: inline-block;
margin-bottom: 2%;
}

/*IMAGE EFFECTS*/
#work img {
border: 1px solid #A0A4A8;
border-radius: 3px;
transition: all 0.5s;
-moz-transition: all 0.5s;
-webkit-transition: all 0.5s;
-o-transition: all 0.5s;
width:100%;
}

#work img:hover {
-webkit-filter: grayscale(100%);
}
